<% layout('/layouts/boilerplate') %>
<br>
<br>
<br>
<br>
<h2>Edit Book</h2>
<form action="/books/<%= book._id %>?_method=PUT" method="POST">
    <div>
        <label for="books">Book Title:</label>
        <input type="text" id="books" name="books" value="<%= book.books %>" required>
    </div>
    <button type="submit">Update Book</button>
</form>
