
<style>

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #ccc;
 
  margin-top: 20px;
}


</style>


<footer >

    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      @ shubhamkopare
    </div>
  </footer>
  